<div class="home__container">
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel ="Digital"
		gameType="Digital | PS5"
		gamePrice="R$199,90"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel ="Exclusivo"
		gameType="Digital | PS4 | PS5"
		gamePrice="R$125,90"
	>
	</app-card>
	<app-card
		gameCover="assets/ds3-logo.webp"
		gameLabel ="Digital"
		gameType="Digital | PS4 | PS5"
		gamePrice="R$179,90"
	>
	</app-card>
	<app-card
		gameCover="assets/spider-logo.avif"
		gameLabel ="Game of the Year"
		gameType="Digital | PS4 | PS5"
		gamePrice="R$259,00"
	>
	</app-card>
	<app-card
		gameCover="assets/spider2-logo.avif"
		gameLabel ="New"
		gameType="Digital | PS5"
		gamePrice="R$350,00"
	>
	</app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel ="Best Seller"
		gameType="Digital | PS4 | PS5 | PSVITA "
		gamePrice="R$87,50"
	>
	</app-card>
</div>

